{% extends 'base.html.twig' %}

{% block title %}Édition de l'article : {{ article.title | capitalize }}{% endblock %}

{% block content %}
    <h1>Vous êtes sur le point de modifier l'article "{{ article.title | capitalize }}"</h1>

{% endblock %}