<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <script src="https://kit.fontawesome.com/8c3f33f870.js" crossorigin="anonymous"></script>
        <style>
            body{
                margin: 0;
                min-height: 100vh;
                display: grid;
                grid-template-rows: max-content 1fr;
                font-family: Arial, Helvetica, sans-serif;
            }
            header{
                display: flex;
                justify-content: space-around;
                background-color: #2b2b2b;
            }
            header .logo{
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: #e7e7e7;
                text-align: center;

            }
            header ul{
            display: flex;
            }
                header ul li{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    list-style-type: none;
                    background-color: #e7e7e7;
                    height: 50px;
                    margin-left: 10px;
                    margin-right: 10px;
                    min-width: 80px;
                    text-align: center;
                    padding-left: 5px;
                    padding-right: 5px;
                }
            header ul li:hover{
                background-color: #C9C7D1;
                box-shadow: 0 0 5px #e7e7e7;
                transition-duration: 500ms;
            }
            header a{
                color: #2b2b2b;
                text-decoration: none;
            }
            main{
                display: flex;
                flex-direction: column;
                justify-content: start;
                text-align: center;
                background-image: url('https://i.pinimg.com/originals/46/1d/25/461d254f8563f8945ce3a385f289df17.jpg');
            }
            footer{
                background-color: #2b2b2b;
                min-height: 5%;
            }
            footer ul{
                display: flex;
                justify-content: center;
            }
            footer ul li{
                display: flex;
                flex-direction: column;
                justify-content: center;
                list-style-type: none;
                height: 50px;
                margin-left: 10px;
                margin-right: 10px;
                min-width: 80px;
                text-align: center;
                padding-left: 5px;
                padding-right: 5px;
            }
            footer a{
                color: #e7e7e7;
                text-decoration: none;
            }
            .content{
                width: 50%;
                display: flex;
                justify-content: center;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 20px;
            }
            .btn{
                background-color: #e7e7e7;
                color: #2b2b2b;
                padding: 10px;
                text-decoration: none;
                width: 50%;
                margin-left: auto;
                margin-right: auto;
            }
            .btn:hover{
                background-color: #fff;
                box-shadow: #e7e7e7;
                transition-duration: 500ms;
            }
            .myRow{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 100%;
                justify-content: center;
                margin-left: auto;
                margin-right: auto;
            }
            .singleArticle{
                width: 32%;
                background-color: #2b2b2b;
                color: #e7e7e7;
                margin-left: 5px;
                margin-right: 5px;
                padding-bottom: 20px;
                margin-bottom: 5px;
                min-height: 200px;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            .singleArticle p{
                padding: 15px;
            }
            .btn-update{
                background-color: #0088CC;
                color: #fff;
            }
            .btn-update:hover{
                background-color: #5eb5e0;
                transition-duration: 500ms;
            }
            .btn-delete{
                background-color: #AA3333;
                color: #fff;
            }
            .btn-delete:hover{
                background-color: #C82829;
                transition-duration: 500ms;
            }
            .buttonsRow{
                width: 50%;
                display: flex;
                justify-content: center;
                margin-left: auto;
                margin-right: auto;
            }
            .authorProfile i{
                margin-top: 50px;
                margin-bottom: 50px;
            }

            .formButton button {
                padding: 10px;
                background-color: #2b2b2b;
                color: #e7e7e7;
                border: none;
                margin-top: 10px;
                min-width: 300px;
            }

            input, select, textarea {
                text-align: center;
                min-width: 500px;
                padding-top: 10px;
                padding-bottom: 10px;
            }

            input:active, input:focus, select:focus, select:active, textarea:focus, textarea:active{
                box-shadow: 0 0 10px #2b2b2b;
            }
        </style>
        {% endblock %}
    </head>
    <body>
        {% include 'menus/menu.html.twig' %}
        <main>
        {% block content %}{% endblock %}
        </main>
        {% include 'menus/footer.html.twig' %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
