{% extends 'base.html.twig' %}

{% block title %}Tous les Auteurs{% endblock %}

{% block content %}

    <h1>Voici la liste des auteurs du Blog</h1>
    <div class="myRow">
        {%  for auteur in auteurs %}
            <div class="singleArticle">
                <h3>{{ auteur.firstname }}</h3>
                <a class="btn" href="{{ path('author_show_single', {'id': auteur.id}) }}">Aller sur le Profil</a>
            </div>
        {% endfor %}
    </div>

{% endblock %}